.git
.idea
.vscode
.DS_Store
node_modules
vendor
public/hot
public/build
.env
.env.*
design-docs
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
.phpunit.cache
coverage
